.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #ffffff;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 50px;
      background-color: white;
    }

  }
}
