<div class="container">
  <div class="content">
    <div class="register-container">
      <h2>Registro</h2>
      <div class="form">
        <form action="register.php" method="post">
          <div class="form-group">
            <label for="nombre_completo">Nombre completo</label>
            <input type="text" id="nombre_completo" name="nombre_completo" class="form-control" />
          </div>
          <div class="form-group">
            <label for="nombre_usuario">Nombre de usuario</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control" />
          </div>
          <div class="form-group">
            <label for="correo_electronico">Correo electrónico</label>
            <input type="email" id="correo_electronico" name="correo_electronico" class="form-control" />
          </div>
          <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" class="form-control" />
          </div>
          <div class="form-group">
            <label for="confirmar_contrasena">Confirmar contraseña</label>
            <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</div>
